interactions:
- request:
    body: '{"personalizations":[{"to":[{"email":"jake@conclave.digital"}]}],"from":{"email":"jake@conclave.digital"},"subject":"A
      question?","content":[{"type":"text\/html","value":"Is this your email address?"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.sendgrid.com/v3/mail/send
  response:
    body:
      string: ''
    headers:
      X-Message-Id:
      - Z2Uffr5jRmuHVYILRrIQIw
      X-No-CORS-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    status:
      code: 202
      message: Accepted
version: 1
